@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

@media (max-width: 600px) {
  /* Header section */
  header nav h3 {
    color: #6070ff;
    width: 76px;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  header .menu-icon {
    width: 16px;
  }

  header .menu-icon div {
    background-color: #6070ff;
    height: 2px;
    margin: 3px 0;
  }

  header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 58px 24px 0 24px;
  }

  /* Headline section */
  .headline {
    padding: 155px 24px 0 24px;
    background: #e5e5e5;
    background-image: url("images/headline-section/header-background-mobile.png");
    width: 375px;
    height: 718px;
  }

  .headline .title {
    width: 327px;
    height: 150px;
  }

  .headline h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .headline .more-info {
    width: 327px;
    margin-top: 12px;
  }

  .headline .more-info p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .headline h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-transform: uppercase;
    margin-top: 12px;
  }

  .social-icons {
    display: flex;
    margin-top: 12px;
  }

  .social-icons li {
    list-style: none;
  }

  .social-icons li div {
    margin: 0 15px;
  }

  .headline .random-icons img:nth-child(1) {
    position: absolute;
    width: 51.99px;
    height: 9.3px;
    left: -34px;
    top: 141.49px;
    transform: rotate(-46.14deg);
    background: #ebebff;
  }

  .headline .random-icons img:nth-child(2) {
    position: absolute;
    top: 161.47px;
  }

  .headline .random-icons img:nth-child(3) {
    position: absolute;
    width: 11px;
    height: 10px;
    left: 126.98px;
    top: 161.81px;
    transform: rotate(52.97deg);
  }

  .headline .random-icons img:nth-child(4) {
    position: absolute;
    left: 127.18px;
    top: 151.59px;
  }

  .headline .random-icons img:nth-child(5) {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 214px;
    top: 110px;
  }

  .headline .random-icons img:nth-child(6) {
    position: absolute;
    left: 294px;
    top: 140.79px;
  }

  .headline .random-icons img:nth-child(7) {
    position: absolute;
    left: 323px;
    top: 176.24px;
  }

  .headline .random-icons img:nth-child(8) {
    position: absolute;
    width: 11px;
    height: 11px;
    left: 298px;
    top: 315px;
  }

  .headline .random-icons img:nth-child(9) {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 53px;
    top: 692px;
  }

  .headline .random-icons img:nth-child(10) {
    position: absolute;
    left: 191.82px;
    top: 713px;
  }

  .headline .random-icons img:nth-child(11) {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 237px;
    top: 715.1px;
  }

  .headline .random-icons img:nth-child(12) {
    position: absolute;
    width: 24.14px;
    height: 12.07px;
    left: 341.76px;
    top: 567.69px;
  }

  .headline .random-icons img:nth-child(13) {
    position: absolute;
    left: 332.18px;
    top: 579.44px;
  }

  /* Works section */
  .works {
    padding-top: 80px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background: #e5e5e5;
    grid-gap: 85px;
  }
  .work {
    width: 327px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 16px;
  }

  .work h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
    margin: 10px 0;
  }

  .work .role span:nth-child(1) {
    color: #344563;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
  }

  .work .role .skill,
  .work .role .year {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .work .role img {
    margin: 0px 9px;
  }

  .work .task {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
    margin: 12px 0;
  }

  .work ul li {
    list-style: none;
    margin-right: 15px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 12px;
    color: #6070ff;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .work ul {
    display: flex;
  }

  .works button {
    text-decoration: none;
    color: #396df2;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    background: #ffffff;
    padding: 8px 16px;
    border: 1px solid #6070ff;
    border-radius: 8px;
    margin: 10px 0;
  }

  /* About my self section */
  .about-me {
    padding: 80px 25px 0 25px;
    background: #e5e5e5;
    background-image: url("images/about-me/about-me.png");
  }

  .about-me h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }
  .about-me p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 12px 0;
  }

  .about-me h4:nth-of-type(1) {
    font-style: normal;
    font-weight: 500;
    margin-top: 12px;
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    text-transform: uppercase;
  }

  .about-me .languages-title h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: 20px;
  }
}
